<main class="main-class">

  <section id="todo-section" class="todo-section">

    <h1 class="main-title"> The {{ title }} List </h1>

    <div>
      <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

        <span class="form-group">
          <label>Task</label>
          <input class="form-control inner-field" name="task" formControlName="userTask" placeholder="New task" />

          <div class="alert alert-danger"
               *ngIf="myForm.controls['userTask'].invalid && myForm.controls['userTask'].touched">
            Не введена задача!
          </div>
        </span>

        <span class="form-group">
          <label>Date</label>
          <input class="form-control date-field" name="date" type="date" formControlName="userDeadLine" />

          <div class="alert alert-danger"
               *ngIf="myForm.controls['userDeadLine'].invalid && myForm.controls['userDeadLine'].touched">
            Не введена дата!
          </div>
        </span>

        <span class="form-group">
          <button class="add-btn btn" [disabled]="myForm.invalid">
            + Add
          </button>
        </span>

      </form>

    </div>

    <br>

    <div id="table-list" class="table-list">

      <app-row-component  class="row-list"  [ngClass]="{readyClass:task.ready}"   (onSaveEdit)="onSaveEdit($event)"
                          (onChangeReady)="onChangeReady(index)" (onRemoveItem)="onRemoveItem($event)"
                         *ngFor="let task of todoListArr; let index = index"  [task]="task" [index]="index"> loading ...
      </app-row-component>

    </div>

    <br>

  </section>

</main>
