<main class="main-class">

<section id="todo-section" class="todo-section">

  <h1 class="main-title"> The {{ title }} List </h1>

  <div>
    <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

        <div class="form-group inline">

          <label >Task</label>
          <input appChangeStyle class="form-control inner-field" name="task" formControlName="userTask" placeholder="New task" />

          <div  class="alert alert-danger"
               *ngIf="formErrors.userTask">
            {{formErrors.userTask}}
          </div>

        </div>

      <div class="form-group inline">

          <label>Date</label>
          <input *appMyValid="condition" class="form-control date-field" name="date" type="date" formControlName="userDeadLine" title="date" />

           <div appChangeStyle class="alert alert-danger"
                *ngIf="formErrors.userDeadLine">
            {{formErrors.userDeadLine}}
          </div>

        <!--<div class="alert alert-danger"-->
        <!--*ngIf="myForm.controls['userDeadLine'].invalid && myForm.controls['userDeadLine'].touched">-->
        <!--Не введена дата!-->
        <!--</div>-->

        </div>

      <span class="form-group">
          <button class="add-btn btn" [disabled]="myForm.invalid">
            + Add
          </button>
        </span>

    </form>

  </div>

  <!--<p *appMyValid="condition">
    Первый параграф
  </p>
  <p *appMyValid="!condition">
    Второй параграф
  </p>-->
  <button (click)="toggle()">Toggle</button>

  <br>

  <div id="table-list" class="table-list">

    <app-row-component  class="row-list"  [ngClass]="{readyClass:task.ready}"   (onSaveEdit)="onSaveEdit($event)"
                        (onChangeReady)="onChangeReady(index)" (onRemoveItem)="onRemoveItem($event)"
                        *ngFor="let task of todoListArr; let index = index"  [task]="task" [index]="index"> loading ...
    </app-row-component>

  </div>

  <br>

</section>

</main>
