<main class="main-class">

<section id="todo-section" class="todo-section">

  <h1 appChangeStyle class="main-title"> The {{ title }} List </h1>

  <div>
    <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

      <div class="form-group inline">

          <label >Task</label>
          <input [appMyValid]="controlErrors.userTask" class="form-control inner-field" name="task" formControlName="userTask" placeholder="New task" />

      </div>

      <div class="form-group inline">

          <label>Date</label>
          <input [appMyValid]="controlErrors.userDeadLine" class="form-control date-field" name="date" type="date" formControlName="userDeadLine" title="date" />

      </div>

      <div  class="form-group inline">
          <button class="add-btn btn" [disabled]="myForm.invalid">
            + Add
          </button>
      </div>

    </form>

  </div>

  <br>

  <div id="table-list" class="table-list">

    <app-row-component  class="row-list"  [ngClass]="{readyClass:task.ready}"   (onSaveEdit)="onSaveEdit($event)"
                        (onChangeReady)="onChangeReady(index)" (onRemoveItem)="onRemoveItem($event)"
                        *ngFor="let task of todoListArr; let index = index"  [task]="task" [index]="index"> loading ...
    </app-row-component>

  </div>

  <br>

</section>

</main>
