.invisible{display:none;}

.inner-field{
  padding: 3px 5px 2px;
  margin-left: 10px;
  width: 300px;
}

.text-line{
  cursor: pointer;
  padding-left: 12px;
}

:host .style-btn{
  cursor: pointer;
  padding: 3px 15px 4px;
  height: 15px;
  width: 15px;
  background: url('../../assets/img/Full_sprite.png');
}

:host .edit-btn{
  background-position: 288px 976px;
}

:host .edit-btn:hover{
  background-position: 288px 708px;
}

:host:nth-child(odd) .edit-btn{
  background-position: 288px 437px;
}

:host:nth-child(odd) .edit-btn:hover{
  background-position: 288px 156px;
}

:host .remove-btn{
  background-position: 122px 976px;
}

:host .remove-btn:hover{
  background-position: 122px 708px;
}

:host:nth-child(odd) .remove-btn{
  background-position: 122px 437px;
}

:host:nth-child(odd) .remove-btn:hover{
  background-position: 122px 156px;
}

:host .save-btn{
  background-position: 247px 931px;
  height: 25px;
}

:host .save-btn:hover{
  background-position: 247px 663px;
}

:host:nth-child(odd) .save-btn{
  background-position: 247px 392px;
}

:host:nth-child(odd) .save-btn:hover{
  background-position: 247px 111px;
}


.form-group{
  position: relative;
}

.alert-danger{
  position: absolute;
  color: red;
  right: 50px;
}

.save-btn{
  border: none;
  box-shadow: none;
}

input.ng-touched.ng-invalid{
  border-color: red;
  color: red;
}
