.invisible{display:none;}

.inner-field{
  padding: 3px 5px 2px;
  margin-left: 10px;
  width: 300px;
}

.text-line{
  cursor: pointer;
  padding-left: 12px;
}

.btn-panel .style-btn{
  cursor: pointer;
  padding: 3px 15px 4px;
  height: 15px;
  width: 15px;
  background: url('/src/img/Full_sprite.png');
}

.btn-panel .edit-btn{
  background-position: 288px 976px;
}

.btn-panel .edit-btn:hover{
  background-position: 288px 708px;
}

.btn-panel:nth-child(odd) .edit-btn{
  background-position: 288px 437px;
}

.btn-panel:nth-child(odd) .edit-btn:hover{
  background-position: 288px 156px;
}

.btn-panel .remove-btn{
  background-position: 122px 976px;
}

.btn-panel .remove-btn:hover{
  background-position: 122px 708px;
}

.btn-panel:nth-child(odd) .remove-btn{
  background-position: 122px 437px;
}

.btn-panel:nth-child(odd) .remove-btn:hover{
  background-position: 122px 156px;
}

.btn-panel .save-btn{
  background-position: 247px 931px;
}

.btn-panel .save-btn:hover{
  background-position: 247px 663px;
}

.btn-panel:nth-child(odd) .save-btn{
  background-position: 247px 392px;
}

.btn-panel:nth-child(odd) .save-btn:hover{
  background-position: 247px 111px;
}
